.about,
.bio,
.exhibitions {
	display: flex;
	flex-direction: column;
}

.about{
	border: solid 1px #eee;
	background-color: white;
	box-shadow: 0 -1px 1px rgba(0,0,0,0.15), 0 -10px 0 -5px #eee, 0 -10px 1px -4px rgba(0,0,0,0.15), 0 -20px 0 -10px #eee, 0 -20px 1px -9px rgba(0,0,0,0.15);
	padding: 20px;
	box-sizing: border-box;
}


figure{
	padding: 2px;
	width: 90%;
	background-color: white;
	box-shadow: 
	/*Ombre de la 1ere couche:*/
	0 1px 1px rgba(0,0,0,0.15),
	/*2eme couche:*/
	0 10px 0 -5px #eee,
	/*Ombre de la 2eme couche:*/
	0 10px 1px -4px rgba(0,0,0,0.15),
	/*3eme couche:*/
	0 20px 0 -10px #eee,
	/*Ombre de la 3eme couche:*/
	0 20px 1px -9px rgba(0, 0, 0, 0.15);
	margin: 1em auto;
	border: solid 3px #eee;
	box-sizing: border-box;
}

img{
	width: 100%;
	border: solid 1px #e8e6e6;
}

figcaption{
	font-size: 1.5em;
	text-align: center;
	font-weight: bold;
}


figcaption{
	font-family: 'Indie Flower', cursive;
}

.about p,
ul.exhibitions > li,
.about a{
	font-family: 'Caveat', cursive;
	font-size: 1.2em;
	font-weight: bold;
	text-transform: none;
}

.about h3,
p, 
ul.exhibitions > li,
figcaption {
	font-size: 1em;
	color: black;
}

.about h3,
p {
	padding: 0 2em;
}

article{
	background-color: #fff;
	padding: 10px;
	box-shadow: 
	/*Ombre de la 1ere couche:*/
	0 -1px 1px rgba(0,0,0,0.15),
	/*2eme couche:*/
	0 -10px 0 -5px #eee,
	/*Ombre de la 2eme couche:*/
	0 -10px 1px -4px rgba(0,0,0,0.15),
	/*3eme couche:*/
	0 -20px 0 -10px #eee,
	/*Ombre de la 3eme couche:*/
	0 -20px 1px -9px rgba(0, 0, 0, 0.15);
	margin: 1em 0;
	border: solid 3px #eee;
	box-sizing: border-box;
}



@media screen and (max-width: 500px) {
.about h3,
p{
	padding: 0;
	font-size: 1em;
	font-weight: normal;
}

	}
