.about,
.bio,
.exhibitions {
	display: flex;
	flex-direction: column;
}

.about{
	border: solid 1px #eee;
	background-color: white;
	box-shadow: 0 -1px 1px rgba(0,0,0,0.15), 0 -10px 0 -5px #eee, 0 -10px 1px -4px rgba(0,0,0,0.15), 0 -20px 0 -10px #eee, 0 -20px 1px -9px rgba(0,0,0,0.15);
	padding: 20px;
	box-sizing: border-box;
}

.about h3,
.about p,
.bio h3,
p {
	padding: 1em;
}

figure{
	width: 90%;
	background-color: white;
	box-shadow: 
	/*Ombre de la 1ere couche:*/
	0 1px 1px rgba(0,0,0,0.15),
	/*2eme couche:*/
	0 10px 0 -5px #eee,
	/*Ombre de la 2eme couche:*/
	0 10px 1px -4px rgba(0,0,0,0.15),
	/*3eme couche:*/
	0 20px 0 -10px #eee,
	/*Ombre de la 3eme couche:*/
	0 20px 1px -9px rgba(0, 0, 0, 0.15);
	padding: 20px;
	border: solid 3px #eee;
	box-sizing: border-box;
}

img{
	width: 100%;
	border: solid 1px #e8e6e6;
}

figcaption{
	text-align: center;
}

.about p,
figcaption{
	font-family: 'Indie Flower', cursive;
	font-weight: bold;
}

.about h3,
p,
figcaption {
	font-size: 1.2em;
	color: black;
}

article{
	background-color: #fff;
	padding: 30px;
	box-shadow: 
	/*Ombre de la 1ere couche:*/
	0 -1px 1px rgba(0,0,0,0.15),
	/*2eme couche:*/
	0 -10px 0 -5px #eee,
	/*Ombre de la 2eme couche:*/
	0 -10px 1px -4px rgba(0,0,0,0.15),
	/*3eme couche:*/
	0 -20px 0 -10px #eee,
	/*Ombre de la 3eme couche:*/
	0 -20px 1px -9px rgba(0, 0, 0, 0.15);
	margin: 2em 0;
	border: solid 3px #eee;
	box-sizing: border-box;
}
