.contact,
.others {
	color: black;
		border: solid 1px #eee;
	background-color: white;
	box-shadow: 0 -1px 1px rgba(0,0,0,0.15), 0 -10px 0 -5px #eee, 0 -10px 1px -4px rgba(0,0,0,0.15), 0 -20px 0 -10px #eee, 0 -20px 1px -9px rgba(0,0,0,0.15);
	padding: 20px;
	box-sizing: border-box;
}

section > article *{
	color: black;
}

article{
	border: solid 5px black;
	margin: 2em 0;
}


figure{
	width: 50%;
	margin: 1em auto;
}

main h3{
	margin: 2em;
	padding: 0 2em;
}


img{
	width: 100%;
	border: solid 1px #e8e6e6;
}

figcaption{
	font-size: 1.5em;
	text-align: center;
	font-weight: bold;
}


main p,
main li,
main h4,
main a,
figcaption{
	font-family: 'Indie Flower', cursive;
	font-size: 1.2em;
	text-transform: none;
}

p{
	font-weight: bold;
	padding: 1em 6em;
}



main ul, ol{
	list-style: none;
	margin: 1em auto;
	display: flex;
	flex-direction: column;
	width: 100%;
	justify-content: space-around;
}

main ul > li,
main ol > li{
	flex-wrap: wrap;
		justify-content: space-around;
		margin: 0 auto;
}

@media screen and (max-width: 500px) {
main h3,
p{
	font-size: 1em;
}

main li{
	width: 100%;
	margin: 1em auto;
}

figure{
	width: 90%;
}

	}
	
@media screen and (max-width: 700px) {

p,
figcaption{
	font-size: 1em;
}

article p{
	width: 100%;
	padding: 1em;
}

figure{
	width: 70%;
}

	}