/*EXTRAIT IMAGES*/

#buttons {
	display: flex;
	flex-direction: row;
	width: 100%;
	margin: 2em auto;
}

button {
	color: #57595B;
	background-color: white;
	text-transform: uppercase;
	border: 5px solid black;
	border-radius: 50px;
	margin: 0 auto;
	width: 30%;
	height: 60px;
	font-weight: bolder;
	font-size: 1em;
	width: 30%;
	-webkit-box-shadow: -7px 7px 19px 7px rgba(0,0,0,0.75);
	-moz-box-shadow: -7px 7px 19px 7px rgba(0,0,0,0.75);
	box-shadow: -7px 7px 19px 7px rgba(0,0,0,0.75);
}

button:focus{
	outline: 0;
}

button:active{
	background-color: #57595B;
	color: white;
	-webkit-box-shadow: inset -7px 7px 19px 7px rgba(0,0,0,0.75);
	-moz-box-shadow: inset -7px 7px 19px 7px rgba(0,0,0,0.75);
	box-shadow: inset -7px 7px 19px 7px rgba(0,0,0,0.75);
	transform: translateY(4px);
}


.slider {
	display: flex;
	margin: auto;
	padding: 0;
	width: 100%;
}

#slider > figure {
	flex-wrap: wrap;
	width: 50%;
	display: none;
	background-color: white;
	box-shadow: 
	/*Ombre de la 1ere couche:*/
	0 1px 1px rgba(0,0,0,0.15),
	/*2eme couche:*/
	0 10px 0 -5px #eee,
	/*Ombre de la 2eme couche:*/
	0 10px 1px -4px rgba(0,0,0,0.15),
	/*3eme couche:*/
	0 20px 0 -10px #eee,
	/*Ombre de la 3eme couche:*/
	0 20px 1px -9px rgba(0, 0, 0, 0.15);
	padding: 20px;
	box-sizing: border-box;
	margin: 0 auto;
}

.hidden {
	flex-wrap: wrap;
	margin: auto;
	display: none;
	height: 0;
	opacity: 0;
	overflow: hidden;
	transition: height 350ms ease-in-out, opacity 750ms ease-in-out;
}

#slider img {
	width: 100%;
	border: solid 1px #e8e6e6;
}

#slider figure.active {
	display: flex;
	height: auto;
	margin: 0 auto;
	opacity: 1;
	border: solid 1px #eee;
	background-color: white;
	width: 50%;
	box-shadow: 
	/*Ombre de la 1ere couche:*/
	0 1px 1px rgba(0,0,0,0.15),
	/*2eme couche:*/
	0 10px 0 -5px #eee,
	/*Ombre de la 2eme couche:*/
	0 10px 1px -4px rgba(0,0,0,0.15),
	/*3eme couche:*/
	0 20px 0 -10px #eee,
	/*Ombre de la 3eme couche:*/
	0 20px 1px -9px rgba(0, 0, 0, 0.15);
	padding: 20px;
	box-sizing: border-box;
	flex-wrap: wrap;
	box-sizing: border-box;
	margin: 0 auto;
}


figcaption {
	color: black;
	font-family: 'Shadows Into Light', cursive;
	text-align: center;
	text-transform: capitalize;
	font-size: 1.5em;
	margin-top: 1em;
	font-weight: bold;
}

.slider ul {
	margin: auto;
	width: 100%;
}

/*BOUTONS PREVIOUS ET NEXT*/

.slider-nav {
	margin: 1em auto;
}

.slider-nav ul {
	font-size: xx-large;
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	-webkit-box-pack: center;
	justify-content: center;
}

.slider-nav li {
	font-size: xx-large;
	-webkit-box-flex: 2;
	flex: 2;
	text-align: center;
	display: -webkit-box;
	display: flex;
}

.slider-nav .arrow {
	flex: 0 0 15%;
	font-size: xx-large;
}

.slider-nav a {
	font-size: xx-large;
	flex-basis: 100%;
	display: -webkit-box;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
}

.slider-nav span {
	font-size: 1.5em;
	display: block;
	width: 100%;
	color: white;
}

.slider-nav span:hover,
#slider img:hover,
button:hover,
#thumbnail li:hover {
	cursor: pointer;
}

.slider-nav span:active{
	color: cornsilk;
}



/*
THUMBNAIL
*/

.thumbnail {
	width: 100%;
}

#thumbnail {
	margin: auto;
	height: auto;
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: stretch;
  	justify-content: space-around;
  	flex-wrap: wrap;
}

#thumbnail > li {
	list-style-type: none;
	margin: 10px;
	box-sizing: border-box;
	width: 15%;
}

#thumbnail figure {
	margin: 0 auto;
	width: auto;
	border: solid 1px #eee;
	background-color: white;
	box-shadow: 
	/*Ombre de la 1ere couche:*/
	0 1px 1px rgba(0,0,0,0.15),
	/*2eme couche:*/
	0 10px 0 -5px #eee,
	/*Ombre de la 2eme couche:*/
	0 10px 1px -4px rgba(0,0,0,0.15),
	/*3eme couche:*/
	0 20px 0 -10px #eee,
	/*Ombre de la 3eme couche:*/
	0 20px 1px -9px rgba(0, 0, 0, 0.15);
	padding: 20px;
}


#thumbnail li img {
	max-width: 100%;
	width: auto;
	max-height: 100%;
	height: auto;
	margin: auto;
}

/*MODAL*/
#myModal{
	display: none;
	position: fixed;
	z-index: 1000;
	padding-top: 5px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: black;
	background-color: rgba(0, 0, 0, 0.5);
}

.modal-content{
	background-color: white;
	margin: auto;
	padding: 10px;
	border: solid 3px white;
	border-radius: 10px;
	width: 95%;
}
	
.close{
	border: solid 2px grey;
	padding: 5px;
	margin-bottom: 5px;
	border-radius: 25px;
	color: black;
	font-weight: bolder;
	font-size: 1.5em;
	float: right;
}
	
.close:hover,
.close:focus{
	color: grey;
	text-decoration: none;
	cursor: pointer;
}
	
.pub,
.pub:after {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 0;
}

.pub:after {
    content: '';
    background: transparent url(../images/pattern.png) repeat top left;
}

.pub{
	list-style-type: none;
}

.pub li span {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
    opacity: 0;
    z-index: 0;
	-webkit-backface-visibility: hidden;
    -webkit-animation: imageAnimation 36s linear infinite 0s;
    -moz-animation: imageAnimation 36s linear infinite 0s;
    -o-animation: imageAnimation 36s linear infinite 0s;
    -ms-animation: imageAnimation 36s linear infinite 0s;
    animation: imageAnimation 36s linear infinite 0s;
}

.pub li div {
    z-index: 1000;
    position: absolute;
    bottom: 30px;
    left: 0px;
    width: 100%;
    text-align: center;
    opacity: 1;
}

.pub li div h2 {
    line-height: 100px;
	color: rgba(169,3,41, 0.8);
	padding-right: 1em;
}

.pub a{
	text-decoration: none;
}

.pub a:hover{
	text-decoration: underline;
}


/* Animation for the slideshow images */
@-webkit-keyframes imageAnimation { 
	0% {
	    opacity: 0;
	    -webkit-animation-timing-function: ease-in;
	}
	8% {
	    opacity: 1;
	    -webkit-transform: scale(1.05);
	    -webkit-animation-timing-function: ease-out;
	}
	17% {
	    opacity: 1;
	    -webkit-transform: scale(1.1);
	}
	25% {
	    opacity: 0;
	    -webkit-transform: scale(1.1);
	}
	100% { opacity: 0 }
}
@-moz-keyframes imageAnimation { 
	0% {
	    opacity: 0;
	    -moz-animation-timing-function: ease-in;
	}
	8% {
	    opacity: 1;
	    -moz-transform: scale(1.05);
	    -moz-animation-timing-function: ease-out;
	}
	17% {
	    opacity: 1;
	    -moz-transform: scale(1.1);
	}
	25% {
	    opacity: 0;
	    -moz-transform: scale(1.1);
	}
	100% { opacity: 0 }
}
@-o-keyframes imageAnimation { 
	0% {
	    opacity: 0;
	    -o-animation-timing-function: ease-in;
	}
	8% {
	    opacity: 1;
	    -o-transform: scale(1.05);
	    -o-animation-timing-function: ease-out;
	}
	17% {
	    opacity: 1;
	    -o-transform: scale(1.1);
	}
	25% {
	    opacity: 0;
	    -o-transform: scale(1.1);
	}
	100% { opacity: 0 }
}
@-ms-keyframes imageAnimation { 
	0% {
	    opacity: 0;
	    -ms-animation-timing-function: ease-in;
	}
	8% {
	    opacity: 1;
	    -ms-transform: scale(1.05);
	    -ms-animation-timing-function: ease-out;
	}
	17% {
	    opacity: 1;
	    -ms-transform: scale(1.1);
	}
	25% {
	    opacity: 0;
	    -ms-transform: scale(1.1);
	}
	100% { opacity: 0 }
}
@keyframes imageAnimation { 
	0% {
	    opacity: 0;
	    animation-timing-function: ease-in;
	}
	8% {
	    opacity: 1;
	    transform: scale(1.05);
	    animation-timing-function: ease-out;
	}
	17% {
	    opacity: 1;
	    transform: scale(1.1);
	}
	25% {
	    opacity: 0;
	    transform: scale(1.1);
	}
	100% { opacity: 0 }
}


@media screen and (max-width: 500px) {
	
	/*BUTTONS*/
	
	#buttons{
		flex-direction: column;
		width: 90%;
		margin: 2em auto;
	}
	
	button{
		width: 100%;
		display: block;
		margin: 0 auto;
		padding: 0;
	}
	
	.active{
		width: 90%;
		padding: 0;
		margin: 0;
	}
	
	.active figure{
		width: 90%;
		margin: 1em 0;
	}
	
	#thumbnail{
		display: none;
	}
	
	.force{
		transform: rotate(-90deg);
		transform-origin: left top;
		width: 100vh;
		height: 100vw;
		overflow-x: hidden;
		position: absolute;
		top: 100%;
		left: 0;
	}
	
}