figure{
	border: solid 1px #eee;
	background-color: white;
	box-shadow: 
	/*Ombre de la 1ere couche:*/
	0 1px 1px rgba(0,0,0,0.15),
	/*2eme couche:*/
	0 10px 0 -5px #eee,
	/*Ombre de la 2eme couche:*/
	0 10px 1px -4px rgba(0,0,0,0.15),
	/*3eme couche:*/
	0 20px 0 -10px #eee,
	/*Ombre de la 3eme couche:*/
	0 20px 1px -9px rgba(0, 0, 0, 0.15);
	padding: 20px;
}
.electronic{
	width: 100%;
	border: solid 5px white;
	padding: 2em 0;
}

#letters{
	list-style-type: none;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	margin-block-start: 0;
	padding-inline-start: 0;
	margin-block-end: 0;
	margin-inline-end: 0;
	margin-inline-start: 0;
	padding: 0;
	margin: 0;
}

#letters > li{
	flex-wrap: wrap;
	width: 40%;
	border: solid 5px white;
	margin: 1em auto;
	height: max-content;
}

main h3, h4, h5{
	text-align: center;
}

#letters article{
-webkit-box-shadow: 22px -15px 2px 0px rgba(255,255,255,1);
-moz-box-shadow: 22px -15px 2px 0px rgba(255,255,255,1);
box-shadow: 22px -15px 2px 0px rgba(255,255,255,1);
}

#letters article:hover{
-webkit-box-shadow: 22px -15px 2px 0px rgba(182, 177, 177);
-moz-box-shadow: 22px -15px 2px 0px rgba(182, 177, 177);
box-shadow: 22px -15px 2px 0px rgba(182, 177, 177);
}

#letters article:active{
-webkit-box-shadow: 22px -15px 2px 0px rgba(182, 177, 177);
-moz-box-shadow: 22px -15px 2px 0px rgba(182, 177, 177);
box-shadow: 22px -15px 2px 0px rgba(182, 177, 177);
}

.artistes{
	list-style: none;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	margin-block-start: 0;
	padding-inline-start: 0;
	margin-block-end: 0;
	margin-inline-end: 0;
	margin-inline-start: 0;
	margin: 0;
	padding: 0;
}

.liste-artistes{
	flex-wrap: wrap;
	width: 100%
}

.liste-artistes h5{
	color: black;
}

.liste-artistes h5:hover{
	cursor: pointer;
}

#hidden{
	display: none;
}
	
@media screen and (max-width: 700px) {
#letters > li{
	width: 80%;
	margin: 1em 2em 1em 2em;
}
	}
	
@media screen and (max-width: 500px) {
	.active figure{
		width: 90%;
		margin: 1em 0;
	}

	#letters > li{
	width: 80%;
	margin: 1em 2em 1em 10px;
	}

	.thumbnail{
	display: none;
	}
}
