/*COLORS:
- dark : black (background body + menu hover)
- grey: #57595B (color for buttons)
- light : white (hover menu background + color)
*/

* {
	font-family: Roboto, sans-serif;
	color: white;
}

body {
	background-color: black;
	color: white;
}

ul{
	margin-block-start: 0;
	padding-inline-start: 0;
	margin-block-end: 0;
	margin-inline-end: 0;
	margin-inline-start: 0;
}

/*MAIN*/

main {
	width: 100%;
	padding: 0 2em;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
}

#titre{
	width: 100%;
	text-align: left;
	margin: 0 1em;
}

section {
	border: #E2DCD9;
	width: 100%;
}

main > section{
	margin: 4em auto;
}

/*MENU*/

header {
	display: flex;
	flex-direction:row;
	width: 100%;
	margin: 0 auto;
}

header h3{
	text-transform: uppercase;
	display: none;
}

#logo{
	width: 20%;
	display: flex;
	flex-direction: column;
	margin: 0 1em;
}

#logo a{
	text-decoration: none;
}

#logo h1{
	font-family: 'Notable', sans-serif;
	color: white;
	text-align: center;
}

#burger{
	width: 40%;
	display: none;
	flex-direction: column;
	margin: 1em 0;
	align-content: flex-start;
	justify-content: flex-start;
}

#burger > div {
	width: 50%;
	height: 10px;
	margin: 5px 10%;
	background-color: #E2DCD9;
	
}

h1, h2 {
	text-align: left;
}

h1, 
.parent-menu li {
	text-transform: uppercase;
}

#titre{
	display: inline-block;
	width: 100%;
	margin: 1em auto;
}

header nav{
	display: block;
	width: 70%;
}

ul.parent-menu, ul.child-menu, ul#insert {
	list-style-type: none;
	font-size: 1em;
	padding: 0;
}

ul.parent-menu {
	padding: 1em;
	display: flex;
	flex-direction: row;
}

ul.parent-menu > li, ul.child-menu > li {
	background-color: black;
	border-bottom: solid 4px white;
	text-align: center;
}

ul.parent-menu > li {
	display: inline-block;
	position: relative;
	width: 18%;
	padding: 0 1em 1em 1em;
	margin-left: 1em;
}

ul.parent-menu > li a, 
ul.child-menu > li a {
	color: white;
	text-decoration: none;
	display: block;
	padding: 1em;
	height: 1em;
}

ul.child-menu {
	display: none;
	position: absolute;
	margin: -4px;
	top: 3em;
	width: 100%;
}

ul.child-menu > li {
	width: inherit;
	margin-top: 30px;
	padding-bottom: 1em;
}


ul.parent-menu > li:hover,
ul.child-menu > li:hover {
	background-color: white;
	border-radius: 50px 20px;
	border-left-color: grey;
}

.parent-menu > li a:hover,
.child-menu > li a:hover{
	color: black;
	font-weight: bold;
}


@media screen and (max-width: 500px) {
	#logo{
		width: 3%;
	}
	
	#burger{
		display: block;
	}
	
	header nav{
		visibility: hidden;
		display: block;
		width: 80%;
	}
	
	ul.parent-menu{
		display: flex;
		flex-direction: column;
		padding: 1em;
		width: 80%;
		box-sizing: content-box;
	}
	
	ul.parent-menu > li{
		display: flex;
		flex-direction: column;
		width: 70%;
		padding: 0 1em 1em 1em;
		margin-left: 1em;
	}
	
	.child-menu{
		flex-direction: column;
		display: flex;
	}
	
	main{
		margin: 1em auto;
	}
	
	#titre{
		margin: 0 auto;
	}
	
}
