/*COLORS:
- dark : black (background body + menu hover)
- light : white (hover menu background + color)
*/

* {
	font-family: Roboto, sans-serif;
	color: white;
}

body {
	background-color: black;
}

/*MENU*/

header {
	display: flex;
	flex-direction:row;
	width: 100%;
}

header h3{
	text-transform: uppercase;
	display: none;
}

#logo{
	width: 80%;
	display: flex;
	flex-direction: column;
	margin: 0 1em;
}

#burger{
	width: 40%;
	display: flex;
	flex-direction: column;
	margin: 1em 0;
	align-content: flex-start;
	justify-content: flex-start;
}

#burger > div {
	width: 50%;
	height: 10px;
	margin: 5px 10%;
	background-color: #E2DCD9;
	
}

h1, h2 {
	text-align: left;
}

h1, li {
	text-transform: uppercase;
}

#titre{
	display: inline-block;
	width: 100%;
	margin: 1em auto;
}

nav{
	display: none;
	width: 100%;
}

ul.parent-menu, ul.child-menu, ul#insert {
	list-style-type: none;
	font-size: 1em;
	padding: 0;
}

ul.parent-menu {
	padding: 100px;
	display: flex;
	flex-direction: row;
}

ul.parent-menu > li, ul.child-menu > li {
	background-color: black;
	border-bottom: solid 4px white;
	text-align: center;
}

ul.parent-menu > li {
	display: inline-block;
	position: relative;
	width: 18%;
	padding: 0 1em 1em 1em;
	margin-left: 1em;
}

ul.parent-menu > li a, ul.child-menu > li a {
	color: white;
	text-decoration: none;
	display: block;
	padding: 1em;
	height: 1em;
}

ul.child-menu {
	display: none;
	position: absolute;
	margin: -4px;
	top: 3em;
	width: 100%;
}

ul.child-menu > li {
	width: inherit;
	margin-top: 30px;
	padding-bottom: 1em;
}


ul.parent-menu > li:hover,
ul.child-menu > li:hover,
ul.parent-menu > li:active,
ul.child-menu > li:active {
	background-color: white;
	border-radius: 50px 20px;
	border-left-color: grey;
}

.parent-menu > li a:hover,
.child-menu > li a:hover,
.parent-menu > li a:active,
.child-menu > li a:active{
	color: black;
	font-weight: bold;
}


/*EXTRAIT IMAGES*/

main {
	width: 100%;
}

section {
	border: #E2DCD9;
	width: 100%;
}


#buttons {
	display: flex;
	flex-direction: row;
	width: 100%;
}

button {
	color: black;
	background-color: white;
	text-transform: uppercase;
	border: 5px solid black;
	border-radius: 50px;
	margin: 0 auto;
	width: 30%;
}


.slider {
	display: flex;
	margin: auto;
	padding: 0;
	width: 100%;
}

#slider > figure {
	flex-wrap: wrap;
	width: 100%;
	display: none;
}

.hidden {
	flex-wrap: wrap;
	margin: auto;
	display: none;
}

#slider img {
	max-width: 100%;
	-webkit-box-shadow: 10px 10px 20px 0 rgba(94,47,59,0.2);
	-moz-box-shadow: 10px 10px 20px 0 rgba(94,47,59,0.2);
	box-shadow: 10px 10px 20px 0 rgba(94,47,59,0.2);
}

#slider figure.active {
	display: block;
	animation: fadeImg 0.8s;
	-webkit-animation: fadeImg 0.8s;
	-moz-animation: fadeImg 0.8s;
}

@-webkit-keyframes
fadeImg {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@-moz-keyframes
fadeImg {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes
fadeImg {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

figcaption {
	text-align: center;
	text-transform: capitalize;
}

.slider ul {
	margin: auto;
	width: 100%;
}

/*BOUTONS PREVIOUS ET NEXT*/

.slider-nav {
	font-size: larger;
}

.slider-nav ul {
	font-size: xx-large;
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	-webkit-box-pack: center;
	justify-content: center;
}

.slider-nav li {
	font-size: xx-large;
	-webkit-box-flex: 2;
	flex: 2;
	text-align: center;
	display: -webkit-box;
	display: flex;
}

.slider-nav .arrow {
	flex: 0 0 15%;
	font-size: xx-large;
}

.slider-nav a {
	font-size: xx-large;
	flex-basis: 100%;
	display: -webkit-box;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
}

.slider-nav span {
	font-size: xx-large;
	display: block;
	width: 100%;
}

.next,
.previous span {
	font-size: xx-large;
}


/*

.tooltip .tooltiptext {
	visibility: hidden;
	color: white;
	background-color: black;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
}

#slides .tooltip {
	position: relative;
}

#slides .tooltip .tooltiptext {
	position: absolute;
	text-align: center;
	z-index: 1;
}
*/

.thumbnail {
	width: 80%;
}

#thumbnail {
	margin: auto;
	height: auto;
	display: flex;
	flex-direction: row;
	  align-items: center;
  justify-content: center;
}

#thumbnail > li {
	flex-wrap: wrap;
	list-style-type: none;
	margin: 5px;
}

#thumbnail figure {
	margin: auto;
}

#thumbnail li img {
	max-width: 100%;
	width: auto;
	max-height: 100%;
	height: auto;
	margin: auto;
}

@media screen and (max-width: 500px) {
	header h3{
		display: block;
	}
	
	#burger{
		display: none;
	}
	
	nav{
		display: block;
	}
	
	.parent-menu > li{
		display: flex;
		flex-direction: column;
		width: 40%;
	}
	
	.child-menu{
		flex-direction: column;
		display: flex;
	}
	
	main{
		width: 100%;
	}
	
	#buttons{
		display: flex;
		width: 100%;
		margin: 0 auto;
		flex-direction: row;
	}
	
	button {
		height: 60px;
		font-weight: bolder;
		font-size: 1em;
		width: 30%;
	}
	
}
