/*COLORS:
- dark : black (background body + menu hover)
- grey: #57595B (color for buttons)
- light : white (hover menu background + color)
*/

* {
	font-family: Roboto, sans-serif;
	color: white;
}

@font-face{
	font-family: "Roboto", sans-serif;
	font-display: swap;
	src: local('Roboto'), url(https://fonts.gstatic.com/s/roboto/v16/CWB0XYA8bzo0kSThX0UTuA.woff2) format('woff2');
}


body {
	background-color: black;
	color: white;
}

ul, ol{
	margin-block-start: 0;
	padding-inline-start: 0;
	margin-block-end: 0;
	margin-inline-end: 0;
	margin-inline-start: 0;
	padding-left: 0;
	margin: 0;
	list-style-position: inside;
}

/*MAIN*/

main {
	width: 100%;
	padding: 0 2em;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
}

#titre{
	width: 100%;
	text-align: left;
	margin: 0 1em;
	z-index: 1;
}

section {
	border: #E2DCD9;
	width: 100%;
}

main > section{
	margin: 4em auto;
}

/*MENU*/

header {
	display: flex;
	flex-direction:row;
	width: 100%;
	margin: 0 auto;
}

header h3{
	text-transform: uppercase;
	display: none;
}

#logo{
	width: 20vw;
	display: flex;
	flex-direction: column;
	margin: 0;
	z-index: 1;
}

#logo a{
	text-decoration: none;
}

#logo h1{
	font-family: 'Notable', sans-serif;
	color: white;
	text-align: center;
}

#burger{
	width: 40%;
	display: none;
	flex-direction: column;
	margin: 1em 0;
	align-content: flex-start;
	justify-content: flex-start;
}

#burger > div {
	width: 50%;
	height: 10px;
	margin: 5px 10%;
	background-color: #E2DCD9;
	
}

h1, h2 {
	text-align: left;
}

h1, 
.parent-menu li {
	text-transform: uppercase;
}

#titre{
	display: block;
	width: 20vw;
	margin: 1em 0;
}

header nav{
	display: block;
	width: 80vw;
}

ul.parent-menu, ul.child-menu, ul#insert {
	list-style-type: none;
	font-size: 1em;
	padding: 0;
}

ul.parent-menu {
	padding: 1em;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	
}

ul.parent-menu > li, ul.child-menu > li {
	background-color: transparent;
	border-bottom: solid 4px white;
	text-align: center;
}

ul.parent-menu > li {
	border-radius: 50px 20px;
	display: inline-block;
	position: relative;
	width: 18%;
	padding: 0 1em 1em 1em;
	margin-left: 1em;
}

ul.parent-menu > li a, 
ul.child-menu > li a {
	color: white;
	font-weight: bold;
	text-decoration: none;
	display: block;
	padding: 1em;
	height: 1em;
}

ul.child-menu {
	display: none;
	position: absolute;
	margin: -4px;
	top: 3em;
	width: 100%;
}

ul.child-menu > li {
	border-radius: 50px 20px;
	width: inherit;
	margin-top: 30px;
	padding-bottom: 1em;
}


ul.parent-menu > li:hover,
ul.child-menu > li:hover {
	background-color: white;
	border-radius: 50px 20px;
	border-left-color: grey;
}

.parent-menu > li a:hover,
.child-menu > li a:hover{
	color: black;
	font-weight: bolder;
}

.no-border{
	border: none;
}

figure{
	border: solid 1px #eee;
	background-color: white;
	box-shadow: 
	/*Ombre de la 1ere couche:*/
	0 1px 1px rgba(0,0,0,0.15),
	/*2eme couche:*/
	0 10px 0 -5px #eee,
	/*Ombre de la 2eme couche:*/
	0 10px 1px -4px rgba(0,0,0,0.15),
	/*3eme couche:*/
	0 20px 0 -10px #eee,
	/*Ombre de la 3eme couche:*/
	0 20px 1px -9px rgba(0, 0, 0, 0.15);
	padding: 20px;
}


/*FOOTER*/
footer{
		border: solid 5px white;
		margin: 2em 0 0 0;
		z-index: auto;
		bottom: 0;
		background-color: white;
}



footer p{
	padding: 0 1em;
	color: black;
	font-size: 0.9em;
	font-weight: bold;
}

footer p{
	text-align: center;
}

footer ul{
	display: flex;
	list-style-type: none;
	align-content: center;
	justify-content: space-around;
	margin: 0;
}

footer i {
	font-size: 2em;
	display: block;
	width: 100%;
	color: black;
}

footer i:hover{
	cursor: pointer;
}

footer i:active{
	color: grey;
}

.offline p,
.offline article,
.lost p,
.lost article{
	color: black;
}

.offline article,
.lost article{
	display: flex;
}



@media screen and (max-width: 869px) {
	#logo{
		width: 3%;
		margin: 0 1em;
	}
	
	header nav{
		display: block;
		width: 100%;
		margin: auto;
	}
	
	ul.parent-menu{
		display: flex;
		flex-direction: column;
		padding: 1em;
		width: 80%;
		box-sizing: content-box;
	}
	
	ul.parent-menu > li{
		display: flex;
		flex-direction: column;
		width: 70%;
		padding: 0 1em 1em 1em;
		margin-left: 1em;
	}
	
	.child-menu{
		flex-direction: column;
		display: flex;
	}
	
	.pub{
		display: none;
	}
	
	
}

@media screen and (max-width: 500px) {
	#logo{
		width: 3%;
	}
	
	#logo h1{
		font-size: 1em;
	}
	
	#burger{
		display: none;
	}
	
	header nav{
		visibility: visible;
		display: block;
		width: 90%;
		margin: 0 auto;
	}
	
	nav a{
		font-size: 1em;
	}
	
	#burger{
		display: none;
	}
	
	ul.parent-menu{
		display: flex;
		flex-direction: column;
		padding: 1em;
		width: 80%;
		box-sizing: content-box;
	}
	
	ul.parent-menu > li{
		display: flex;
		flex-direction: column;
		width: 70%;
		padding: 0 1em 1em 1em;
		margin-left: 1em;
	}
	
	.child-menu{
		flex-direction: column;
		display: flex;
	}
	
	main{
		margin: 0 auto;
	}
	
	#titre h2{
		margin: 0 auto;
		width: auto;
	}
	
	.pub{
		display: none;
	}
	

}






